body{
    background-image: url(forest-8355748_1280.webp);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .main{
    display: flex;
    justify-content: center;
  }
  .login{
    
  border: solid thin white;
  opacity: 1.7;
  color: white;
  margin: 250px;
  height: 300px;
  width: 20%;
  }