*{
    margin: 0px;
    padding: 0px;
}
body .main{
    background-color: rgb(22, 22, 22) ;
    font-family: sans-serif;
    width: 100%;
    color:white;
   
    
}

.lst input{
    align-items: right;
}
.main h1{
    margin: 30px;
    margin-left: 180px;
}

.main h2{
    margin-top: 40px;
    
}
.page_cont{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    
}

.sechead{
    margin-top: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.sechead input{
    margin-top: 10px;
    border-style: none;
    padding: 3px;
    background: none;
    color: #ccc;
    border-radius: 5px;
    text-decoration: underline;
}
.sechead input:hover{
    scale: 1.1;
    color:rgb(214, 55, 16) ;
    text-decoration: none;
}
.lst{
    display: flex;
    justify-content:space-between;
    margin-top: 40px;
    margin-left: 70px;
    width: 100%;
    border-top:0px;
    border-top-style: thin;
    border-bottom: 0.5px;
    border-color: #ccc;
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
    padding: 10px;
    padding-top: 20px;
    transition: transform 1s ease;
}

.lst:hover{
    background-color: #1d1c1c;
    border: 0.5 solid thin ;
    border-radius: 5px;
    border-bottom-color: #1d1c1c;
    
}
.lst p:hover{
    
    color: rgb(214, 55, 16);
    transform: scale(1.1);
}

.lst input{
    border-style: none;
    padding: 3px;
    background: none;
    color: #ccc;
    border-radius: 5px;
    text-decoration: underline;
}
.lst input:hover{
    scale: 1.1;
    color:rgb(214, 55, 16) ;
    text-decoration: none;
}
