
*{
    margin: 0;
    padding: 0;
color: white;
}


body{

    background: rgb(16, 16, 16);
        width: 100%;
        font-family: sans-serif;   
}



.sidebar{
    border: solid thin rgb(93, 90, 90);
    border-radius: 2px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: rgb(67, 66, 66);
    transition: width 0.2s ease;
    z-index: 100;
}


.sidebar.close{
    width: 50px;
    transition: width 0.2s ease;
   
    }


.sidebar.close .line_name,.sidebar.close .usr{
        opacity: 0;
        }


.sidebar .line_name{
    font-size: 17px;
    font-weight: 500;
}




.sidebar header{
position: relative;
}

.sidebar .sideTop{
    display: flex;
    align-items: center;

}

.sidebar .usr .name{
    padding: 10px;
    font-weight: 600;
  
}

.sidebar .sideTop img{
    width: 50px;
}

.sidebar header .tog{
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translate(-50%);
    height: 25px;
    width: 25px;
    background: rgb(42, 40, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;

}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
  font-size: 23px;
    min-width: 50px;
}

.sidebar li .icon,
.sidebar li .line_name{
  color: white;

}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 15px;
}

.sidebar li a:hover{
  background-color: black;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .line_name{
color: crimson;
transition: 0.2s;
}



.sidebar .searchBox{
    background: rgb(136, 138, 138);
    color: white;
    border-radius: 15px;
}

.sidebar .searchBox input{
    background: rgb(136, 138, 138);
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: white;
    border-radius: 15px;
}

.sidebar .searchBox input::placeholder {
    color: rgb(1, 1, 1);
    opacity: 0.7; 
}

.sidebar .menu-bar{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .menu .menu-link{

   
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.Today,.quartersOfUrgency{
    height: 100vh;
    width: calc(100%-290px);
    position: relative;
    left: 290px;
    transition: 0.2s ;
}
.sidebar.close ~ .Today,.sidebar.close ~.quartersOfUrgency{
    left: 88px;
    width: calc(100%-88px);
}




/*Section class=home*/


.lst input{
    align-items: right;
}
.main h1{
    margin: 30px;
    margin-left: 180px;
}

.main h2{
    margin-top: 40px;
    
}
.page_cont{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    
}

.sechead{
    margin-top: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.sechead input{
    margin-top: 10px;
    border-style: none;
    padding: 3px;
    background: none;
    color: #ccc;
    border-radius: 5px;
    text-decoration: underline;
}
.sechead input:hover{
    scale: 1.1;
    color:rgb(214, 55, 16) ;
    text-decoration: none;
}
.lst{
    display: flex;
    justify-content:space-between;
    margin-top: 40px;
    margin-left: 70px;
    width: 100%;
    border-top:0px;
    border-top-style: thin;
    border-bottom: 0.5px;
    border-color: #ccc;
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
    padding: 10px;
    padding-top: 20px;
    transition: transform 1s ease;
}

.lst:hover{
    background-color: #1d1c1c;
    border: 0.5 solid thin ;
    border-radius: 5px;
    border-bottom-color: #1d1c1c;
    
}
.lst p:hover{
    
    color: rgb(214, 55, 16);
    transform: scale(1.1);
}

.lst input{
    border-style: none;
    padding: 3px;
    background: none;
    color: #ccc;
    border-radius: 5px;
    text-decoration: underline;
}
.lst input:hover{
    scale: 1.1;
    color:rgb(214, 55, 16) ;
    text-decoration: none;
}


#urgencySection {
    display: none; /* Initially hide the section */
}
