<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./style.css" />
    <meta charset="utf-8" />
    <title>Register</title>
  </head>

  <body>
    <div class="main">
      <div class="Box">
        <div class="InsideBox">
          <h1>Register</h1>
          <div class="Reg">
            <input type="text" id="firstName" name="firstName" placeholder="First name" required />
            <p></p>
            <input type="text" id="lastName" name="lastName" placeholder="Last name" required />
            <p></p>
            <input type="text" id="username" name="username" placeholder="Username" required />
            <p></p>
            <input type="email" id="email" name="email" placeholder="Email" required />
            <p></p>
            <input type="password" id="password" name="password" placeholder="Password" required />
            <p></p>
            <button id="register">Register</button>
            <p></p>
            <a href="login.html">Already have an account? Login</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>